<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785454064247-uu21jj2m3hlj7rpfvut1cteol7romfjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785454064247-uu21jj2m3hlj7rpfvut1cteol7romfjd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785454064247-n2vfmd67agofvnrna638asleoe1kjnnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEhRKVTV0pyJp8veUceEKbuk_1hwqqDIA</string>
	<key>GCM_SENDER_ID</key>
	<string>785454064247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.aquavietnam.com.aquafan</string>
	<key>PROJECT_ID</key>
	<string>aqua-fan</string>
	<key>STORAGE_BUCKET</key>
	<string>aqua-fan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785454064247:ios:b0df46f6dea0503ad1dc72</string>
</dict>
</plist>